.add-contact-container {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: var(--space-lg);
    background-color: var(--background);
    border-radius: var(--space-sm);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: var(--space-md);
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: var(--space-sm);
    font-weight: bold;
    width: 100%;
}

.form-group input,
.form-group select {
    font: inherit;
    width: 100%;
    padding: var(--space-sm);
    border: 1px solid var(--secondary);
    border-radius: var(--space-xs);
    box-sizing: border-box;
    height: 2.5rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}